.combinedPlaylist {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  width: 30%;
  height: fit-content;
  //   visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-left: 1vw;
  margin-right: 1vw;
  padding-top: 1vw;

  > b {
    font-weight: 500;
  }

  > p {
    margin: 0px;
  }

  > input {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  > ul {
    margin-top: 8px;
    margin-bottom: 8px;

    > li {
      table-layout: fixed;
      width: 100%;
      word-wrap: break-word;
    }
  }
}

.hidden {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  width: 30%;
  //   visibility: hidden;
  height: fit-content;
  opacity: 0;
  margin-left: 1vw;
  margin-right: 1vw;
  padding-top: 1vw;
  transition: visibility 0.5s 0.5s, opacity 0.5s linear;

  > b {
    font-weight: 500;
  }

  > p {
    margin: 0px;
  }

  > input {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  > ul {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
